body {
    background-color: #174197;
    color: #ffffff;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}
.autocenterContainer {
    margin: auto;         /* centra horitzontalment */
    max-width: 1264px;    /* amplada màxima */
    padding: 20px;
}
.boxesContainer {
    --horizPadding: 16px;

    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    padding-left: var(--horizPadding);
    padding-right: var(--horizPadding);
    width: calc(100% - 2 * var(--horizPadding)); /* 100% - 32px */
}
.boxesContainer > .box {
    align-items: center;
    background-color: #3a5b9c;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding: 24px;
    width: 250px;
}
.boxesContainer > .box > p:first-child { 
    font-size: 2em;
    margin: 0;
}
.boxesContainer > .box > p:last-child { 
    margin: 0;
}